<md-list ng-controller="MenuController" ng-show="userType == 'admin'" flex>
    <md-list-item ng-click="null" ui-sref="missions">
        Missions
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="projects">
        Propositions
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="employee">
        Employer
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="besoins">
        Besoins
    </md-list-item>
    <md-list-item ng-click="logout()">
        Deconnexion
    </md-list-item>
</md-list>

<md-list ng-controller="MenuController" ng-show="userType == 'client'" flex>
    <md-list-item ng-click="null" ui-sref="clientprojects" ng-show="loggedin">
        Mes Projets
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="clientbesoins">
        Mes Besoins
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="profile" ng-show="loggedin">
        Profile
    </md-list-item>
    <md-list-item ui-sref="login" ng-hide="loggedin">
        Connexion
    </md-list-item>
    <md-list-item ng-click="logout()" ng-show="loggedin">
        Deconnexion
    </md-list-item>
</md-list>

<md-list ng-controller="MenuController" ng-show="userType == 'comercial'" flex>
    <md-list-item ng-click="null" ui-sref="commercialmissions">
        Missions
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="commercialprojects">
        Projets Clients
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="commercialbesoins">
        Besoins
    </md-list-item>
    <md-list-item ng-click="null" ui-sref="commercialconsultants">
        Consultants
    </md-list-item>
    
    <md-list-item ng-click="logout()">
        Deconnexion
    </md-list-item>
</md-list>