<div ng-controller="CommerciauxBesoinsController" layout="column" ng-cloak>
    <md-toolbar>
        <toolbar></toolbar>
    </md-toolbar>
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
            <md-content layout-padding>
                <menu></menu>
            </md-content>
        </md-sidenav>
        <md-content layout-padding flex>
            <h1>Besoins des Clients</h1>
            <table class="data-table">
                <tr>
                    <td>Client</td>
                    <td>Titre</td>
                    <td>Description</td>
                    <td>Date</td>
                    <td>Action</td>
                </tr>

                <tr ng-repeat="b in besoins">
                    <td>
                        <img ng-src="{{b.client.picture}}" style="height:128px;width:128px;" /><br><br> {{b.client.firstName}} {{b.client.lastName}}
                    </td>
                    <td>{{b.title}}</td>
                    <td>{{b.description}}</td>
                    <td>{{b.date | date}}</td>
                    <td>
                        <md-button class="md-raised md-primary" ng-click="proposer(b.id)">Proposer</md-button>
                    </td>
                </tr>
            </table>
        </md-content>
    </div>
</div>