<div ng-controller="ClientProjectsController" layout="column" ng-cloak>
    <md-toolbar>
        <toolbar></toolbar>
    </md-toolbar>
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
            <md-content layout-padding>
                <menu></menu>
            </md-content>
        </md-sidenav>
        <!--  Information   -->
        <md-content layout="column" flex layout-padding>
            <md-content layout="colunm" layout-padding>
                <md-content flex="50" layout="column">
                    <h1>{{mission.title}}</h1>
                    <table class="data-table">
                        <tr>
                            <td>Date De Debut</td>
                            <td>{{mission.startDate | date}}</td>
                        </tr>
                        <tr>
                            <td>Date De Fin</td>
                            <td>{{mission.endDate| date}}</td>
                        </tr>
                        <tr>
                            <td>Methodologie</td>
                            <td>{{mission.method}}</td>
                        </tr>
                        <tr>
                            <td>Technologie</td>
                            <td>{{mission.technology}}</td>
                        </tr>
                        <iframe src="{{url}}" width="100%" height="450" frameborder="0" style="border:0"></iframe>

                        <tr>
                            <td>PDF</td>
                            <td><a href="{{mission.path}}">Telecharger</a></td>
                        </tr>
                        <tr>
                            <td>
                                <md-button class="md-raised md-accent" ng-if="!mission.validated" ui-sref="clientprojectsEdit({id:mission.id})">Modifier</md-button>
                                <md-button class="md-raised md-primary" ui-sref="clientprojects">Retour</md-button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </md-content>

            </md-content>
            <md-divider>
            </md-divider>
            <md-content layout="colunm" layout-padding>
                <md-content flex="50">
                    <h2> Commercials </h2>
                    <md-list>
                        <md-list-item ng-repeat="e in mission.commercials" ng-click="null" class="md-3-line">
                            <img ng-src="{{e.picture}}" class="md-avatar" />
                            <div class="md-list-item-text" layout="column">
                                <h3>
                                    {{e.firstName}} {{e.lastName}}</h3>
                                <h4>Membre</h4>
                                <p>{{e.salary}} {{e.payment}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content flex="50">
                    <h2> Equipe</h2>
                    <md-list>
                        <md-list-item ng-click="null" class="md-3-line">
                            <img ng-src="{{mission.leader.picture}}" class="md-avatar" />
                            <div class="md-list-item-text" layout="column">
                                <h3>
                                    {{mission.leader.firstName}} {{mission.leader.lastName}}</h3>
                                <h4>Leader</h4>
                                <p>{{mission.leader.salary}} {{mission.leader.payment}}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-repeat="e in mission.team" ng-click="null" class="md-3-line">
                            <img ng-src="{{e.picture}}" class="md-avatar" />
                            <div class="md-list-item-text" layout="column">
                                <h3>
                                    {{e.firstName}} {{e.lastName}}</h3>
                                <h4>Membre</h4>
                                <p>{{e.salary}} {{e.payment}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-content>
            <md-divider>
            </md-divider>
            <md-content layout="colunm" layout-padding>
                <md-content ng-if="mission.tasks && mission.tasks.length > 0">
                    <h2> Tache</h2>
                    <md-list>
                        <md-list-item ng-repeat="e in mission.tasks" ng-click="null" class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>
                                    {{e.title}} : {{e.description}}</h3>
                                <h4>{{e.responsible.firstName}} {{e.responsible.lastName}}</h4>
                                <p>{{e.startDate | date }} - {{e.endDate | date}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-content>
        </md-content>
    </div>
</div>