.data-table {
    border-collapse: collapse;
    width: 100%;
}

.data-table tr td {
    padding: 12px 12px 12px 12px;
    border-bottom: 1px solid #DDDDDD;
}

.data-table tr:hover {
    background-color: #DDDDDD;
}

.office-background {
    background: url('./assets/office.jpg');
    background-size: cover;
    height: 100%;
}

.start {
    font-size: 48px;
    padding: 24px 36px 24px 36px;
    border-radius: 20px;
}

.main-title {
    font-size: 72px;
    color: black;
}

.main-subtitle {
    font-size: 48px;
    color: black;
}

.main-p {
    font-size: 24px;
    color: black;
}