<div ng-controller="EmployeeController" layout="column" ng-cloak>
    <md-toolbar>
        <toolbar></toolbar>
    </md-toolbar>
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
            <md-content layout-padding>
                <menu></menu>
            </md-content>
        </md-sidenav>
        <md-content layout="column" flex layout-padding>
            <h1> Nouveau Employee </h1>
            <md-content layout="column">
                <md-input-container>
                    <label>Nom</label>
                    <input ng-model="employee.firstName" required>
                </md-input-container>
                <md-input-container>
                    <label>Prenom</label>
                    <input ng-model="employee.lastName" required>
                </md-input-container>
                <md-input-container>
                    <label>Salaire</label>
                    <input ng-model="employee.salary" required>
                </md-input-container>
                <md-input-container>
                    <label>Payment</label>
                    <md-select ng-model="employee.payment">
                        <md-option value="hourly">
                            hourly
                        </md-option>
                        <md-option value="daily">
                            daily
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Photo</label>
                    <input ng-model="employee.picture" required>
                </md-input-container>
                <md-button class="md-raised md-accent" ng-click="add()">Ajouter</md-button>
                <md-button class="md-raised md-primary" ui-sref="employee">Retour</md-button>
            </md-content>
        </md-content>
    </div>
</div>