<div ng-controller="EmployeeController" layout="column" ng-cloak>
    <md-toolbar>
        <toolbar></toolbar>
    </md-toolbar>
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
            <md-content layout-padding>
                <menu></menu>
            </md-content>
        </md-sidenav>
        <md-content layout-padding flex>
            <h1>Employers</h1>
            <md-button class="md-raised md-primary" ui-sref="employeeAdd">Nouvel Employer</md-button>
            <table class="data-table">
                <tr>
                    <td>Photo</td>
                    <td>Nom Prenom</td>
                    <td>Salaire</td>
                    <td>Payment</td>
                    <td>Action</td>
                </tr>

                <tr ng-repeat="c in employees">
                    <td><img ng-src="{{c.picture}}" style="height:128px">
                    </td>
                    <td>{{c.firstName}} {{c.lastName}}</td>
                    <td>{{c.salary}}</td>
                    <td>{{c.payment}}</td>
                    <td>
                        <md-button class="md-raised md-accent" ui-sref="employeeEdit({id:c.id})">Modifier</md-button>
                    </td>
                </tr>
            </table>
        </md-content>
    </div>
</div>